@tailwind base;
@tailwind components;
@tailwind utilities;

.height-screen-minus-192 {
    height: calc(1080px - 192px);
}

.width-screen-minus-128 {
    width: calc(100vw - 128px);
}

.width-screen-minus-384 {
    width: calc(100vw - 384px);
}

.width-screen-minus-640 {
    width: calc(100vw - 640px);
}